html,
body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

.container {
  width: 100%;
  height: 100%;
  border: 5px solid #333;
  margin: 30px auto;
  padding: 5px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    'perabotan-rumah slideperabotan'
    'fashion-wanita slidewanita'
    'fashion-pria slidepria'
    'kosmetik slidekosmetik'
    'tas slidetas'
    'sepatu slidesepatu'
    'kesehatan slidekesehatan'
    'gadget slidegadget';
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr;
}
.perabotan-rumah {
  grid-area: perabotan-rumah;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-image: url(img/Perabotan-rumah/background/b9ecd5a82feb0f884723db570f6661e1.jpg);
  background-size: cover;
  height: 400px;
}

.perabotan-rumah img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 50%;
  background-size: cover;
  padding: 20px 0;
}

.perabotan-rumah .content button {
  width: 180px;
  height: 60px;
  margin: -60px auto;
  background-color: rgba(18, 17, 17, 0.768);
  border: 4px solid black 0.8;
  border-radius: 4px;
}
.perabotan-rumah .content button:hover {
  transform: scale(1.2);
}

.perabotan-rumah .content button a {
  font-size: 1.4rem;
  font-weight: 800;
  color: brown;
}

.slideperabotan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  grid-area: slideperabotan;
  margin-top: 150px;
}
/* akhir perabotan */

.fashion-wanita {
  grid-area: fashion-wanita;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-image: url(img/Fashion-wanita/Background/c85b44fec454fef309bd04cd81db73d1.jpg);
  background-size: cover;
  height: 400px;
}

.fashion-wanita img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 50%;
  background-size: cover;
  padding: 20px 0;
}

.fashion-wanita .content button {
  width: 180px;
  height: 60px;
  margin: -60px auto;
  background-color: rgba(18, 17, 17, 0.768);
  border: 4px solid black 0.8;
  border-radius: 4px;
}
.fashion-wanita .content button:hover {
  transform: scale(1.2);
}
.fashion-wanita .content button a {
  font-size: 1.4rem;
  font-weight: 800;
  color: brown;
}
.slidewanita {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  grid-area: slidewanita;
  margin-top: 150px;
}

.fashion-pria {
  grid-area: fashion-pria;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-image: url(img/Fashion-pria/Background/611e2444580c82842c0e617e3ab72502.jpg);
  background-size: cover;
  height: 400px;
}
.fashion-pria img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 50%;
  background-size: cover;
  padding: 20px 0;
}

.fashion-pria .content button {
  width: 180px;
  height: 60px;
  margin: -60px auto;
  background-color: rgba(18, 17, 17, 0.768);
  border: 4px solid black 0.8;
  border-radius: 4px;
}
.fashion-pria .content button:hover {
  transform: scale(1.2);
}
.fashion-pria .content button a {
  font-size: 1.4rem;
  font-weight: 800;
  color: brown;
}

.slidepria {
  grid-area: slidepria;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 150px;
}
.kosmetik {
  grid-area: kosmetik;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-image: url(img/kosmetik/background/df31f59ab052bc8e4ec63a75992b55be.jpg);
  background-size: cover;
  height: 400px;
}
.kosmetik img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 50%;
  background-size: cover;
  padding: 20px 0;
}

.kosmetik .content button {
  width: 180px;
  height: 60px;
  margin: -60px auto;
  background-color: rgba(18, 17, 17, 0.768);
  border: 4px solid black 0.8;
  border-radius: 4px;
}
.kosmetik .content button:hover {
  transform: scale(1.2);
}

.kosmetik .content button a {
  font-size: 1.4rem;
  font-weight: 800;
  color: brown;
}

.slidekosmetik {
  grid-area: slidekosmetik;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 150px;
}
.tas {
  grid-area: tas;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-image: url(img/tas/background/9c02d44a3e43c9c43c35d54124b0b130.jpg);
  background-size: cover;
  height: 400px;
}
.tas img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 50%;
  background-size: cover;
  padding: 20px 0;
}

.tas .content button {
  width: 180px;
  height: 60px;
  margin: -60px auto;
  background-color: rgba(18, 17, 17, 0.768);
  border: 4px solid black 0.8;
  border-radius: 4px;
}
.tas .content button:hover {
  transform: scale(1.2);
}

.tas .content button a {
  font-size: 1.4rem;
  font-weight: 800;
  color: brown;
}

.slidetas {
  grid-area: slidetas;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 150px;
}
.sepatu {
  grid-area: sepatu;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-image: url(img/sepatu/background/6a81b846d579c2138b8aa115ebbb1882.jpg);
  background-size: cover;
  height: 400px;
}
.sepatu img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 50%;
  background-size: cover;
  padding: 20px 0;
}

.sepatu .content button {
  width: 180px;
  height: 60px;
  margin: -60px auto;
  background-color: rgba(18, 17, 17, 0.768);
  border: 4px solid black 0.8;
  border-radius: 4px;
}
.sepatu .content button:hover {
  transform: scale(1.2);
}

.sepatu .content button a {
  font-size: 1.4rem;
  font-weight: 800;
  color: brown;
}

.slidesepatu {
  grid-area: slidesepatu;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 150px;
}

.kesehatan {
  grid-area: kesehatan;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-image: url(img/kesehatan/background/istockphoto-928034704-612x612.jpg);
  background-size: cover;
  height: 400px;
}

.kesehatan img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 50%;
  background-size: cover;
  padding: 20px 0;
}

.kesehatan .content button {
  width: 180px;
  height: 60px;
  margin: -60px auto;
  background-color: rgba(18, 17, 17, 0.768);
  border: 4px solid black 0.8;
  border-radius: 4px;
}
.kesehatan .content button:hover {
  transform: scale(1.2);
}

.kesehatan .content button a {
  font-size: 1.4rem;
  font-weight: 800;
  color: brown;
}
.slidekesehatan {
  grid-area: slidekesehatan;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 150px;
}

.gadget {
  grid-area: gadget;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-image: url(img/gadget/background/photo-1596207498818-edb80522f50b.avif);
  background-size: cover;
  height: 400px;
}
.gadget img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 50%;
  background-size: cover;
  padding: 20px 0;
}

.gadget .content button {
  width: 180px;
  height: 60px;
  margin: -60px auto;
  background-color: rgba(18, 17, 17, 0.768);
  border: 4px solid black 0.8;
  border-radius: 4px;
}
.gadget .content button:hover {
  transform: scale(1.2);
}

.gadget .content button a {
  font-size: 1.4rem;
  font-weight: 800;
  color: brown;
}

.slidegadget {
  grid-area: slidegadget;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 150px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    height: 100%;
    border: 5px solid #333;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
      'perabotan-rumah '
      'slideperabotan'
      'fashion-wanita '
      'slidewanita'
      'fashion-pria'
      'slidepria'
      'kosmetik '
      'slidekosmetik'
      'tas '
      'slidetas'
      'sepatu '
      'slidesepatu'
      'kesehatan '
      'slidekesehatan'
      'gadget '
      'slidegadget';
    grid-template-columns: 4fr;
    grid-template-rows: 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr;
  }
}
